
*.ipdb
*.iobj
*.ipdb
*.obj
*.tlog
*.log
DinseyPlanes/DinseyPlanes/Release/DinseyPlanes.log
*.pch
*.obj
*.db
*.ipch
*.obj
DinseyPlanes/.vs/DinseyPlanes/v15/.suo
DinseyPlanes/.vs/DinseyPlanes/v15/Browse.VC.db
DinseyPlanes/DinseyPlanes/Release/DinseyPlanes.log
DinseyPlanes/DinseyPlanes/Release/DinseyPlanes.obj
DinseyPlanes/DinseyPlanes/Release/DinseyPlanes.pch
DinseyPlanes/DinseyPlanes/Release/DinseyPlanes.tlog/CL.command.1.tlog
DinseyPlanes/DinseyPlanes/Release/DinseyPlanes.tlog/CL.read.1.tlog
DinseyPlanes/DinseyPlanes/Release/DinseyPlanes.tlog/CL.write.1.tlog
DinseyPlanes/DinseyPlanes/Release/DinseyPlanes.tlog/DinseyPlanes.lastbuildstate
DinseyPlanes/DinseyPlanes/Release/DinseyPlanes.tlog/DinseyPlanes.write.1u.tlog
DinseyPlanes/DinseyPlanes/Release/DinseyPlanes.tlog/link.command.1.tlog
DinseyPlanes/DinseyPlanes/Release/DinseyPlanes.tlog/link.read.1.tlog
DinseyPlanes/DinseyPlanes/Release/DinseyPlanes.tlog/link.write.1.tlog
DinseyPlanes/DinseyPlanes/Release/Main.obj
DinseyPlanes/DinseyPlanes/Release/pch.obj
DinseyPlanes/DinseyPlanes/Release/vc141.pdb
